<style>
  /* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 16px 16px 16px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 30px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.md-button {
  padding: 0 6px 0 6px;
  margin: 16px 16px 16px 16px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>

      <h2>Customer 360 - Predict Customer Purchase Preference using AI</h2>
		

    <!--<table class="table"><thead><th>Sample</th><th>Action</th></thead><tbody><tr><td>ACI Info</td><td><button class="btn btn-warning" ng-confirm-click="run('false')">Run</button></td></tr><tr><td>ACI Default</td><td><button class="btn btn-primary" ng-confirm-click="run('ACI')">Run</button></td></tr></tbody></table>-->
    <!--<table class="table table-bordered"><thead><th>Item</th><th>Action</th></thead><tbody><tr ng-repeat="item in someData"><td>{{item}}</td><td><button class="btn btn-danger" ng-click="run(item)">Run</button> </td></tr></tbody></table>-->


      
        <form name="form" ng-submit="save()" novalidate>
            <label>Age:</label>
            <select data-ng-model="model.age">
                <option value="">--Select Age--</option>
                <option ng-repeat="n in [] | range:1:120">{{n}}</option>
            </select><br/>
            <label>Gender:</label>
            <select data-ng-model="model.gender">
                <option value="">--Select Gender--</option>
                <option value="0">Male</option>
                <option value="1">Female</option>
          
            </select><br/>
            <label>Income:</label> <input type="text" data-ng-model="model.income" /><br/>
             
			
			<label>Head of Household:</label>
			<select data-ng-model="model.headOfhousehold">
                <option value="">--Head of Household--</option>
                <option value="0">Yes</option>
                <option value="1">No</option>
             </select><br/>
			
            <label>Number of Household:</label>
            <select data-ng-model="model.noOfhousehold">
                <option value="">--Select Number of Household--</option>
                <option ng-repeat="n in [] | range:1:20">{{n}}</option>
            </select><br/>
            <label>Months of Residence:</label>
            <select data-ng-model="model.monthOfresidence">
                <option value="">--Select Months of Residence--</option>
                <option ng-repeat="n in [] | range:1:100">{{n}}</option>
            </select><br/>
            <label class =col-75>Type 1 Product Purchased in Last 30 days:</label> <input type="text" data-ng-model="model.t1_30" /><br/>
            <label class =col-75>Type 2 Product Purchased in Last 30 days:</label> <input type="text" data-ng-model="model.t2_30"   /><br/>
            <label class =col-75>Type 3 Product Purchased in Last 30 days:</label> <input type="text" data-ng-model="model.t3_30"   /><br/>
            <label class =col-75>Type 1 Product Purchased in Last 10 days:</label> <input type="text" data-ng-model="model.t1_10"   /><br/>
            <label class =col-75>Type 2 Product Purchased in Last 10 days:</label> <input type="text" data-ng-model="model.t2_10"  /><br/>
            <label class =col-75>Type 3 Product Purchased in Last 10 days:</label> <input type="text" data-ng-model="model.t3_10" /><br/>
            <label class =col-75>Type 1 Product Purchased in Last 3 days:</label> <input type="text" data-ng-model="model.t1_3"  /><br/>
            <label class =col-75>Type 2 Product Purchased in Last 3 days:</label> <input type="text" data-ng-model="model.t2_3"   /><br/>
            <label class =col-75>Type 3 Product Purchased in Last 3 days:</label> <input type="text" data-ng-model="model.t3_3"  /><br/>
            <br><br/>
			<div class="md-button"><button type="submit" class="btn btn-success">Submit</button></div>
        </form>
		 
    <br/>
	
	
     <div class="col-md-4 table-responsive">
	 <h3>Result:</h3>
        <table ng-model="result" class="table table-bordered table-info">
            <tbody>
                <tr><td class="table-success">No Interests</td><td>{{result.buyType1}}&nbsp;</td></tr>
				<tr><td class="table-success">Interest at Type 1 Product</td><td>{{result.buyType2}}&nbsp;</td></tr>
				<tr><td class="table-success">Interest at Type 2 Product</td><td>{{result.buyType3}}&nbsp;</td></tr>
				<tr><td class="table-success">Interest at Type 3 Product</td><td>{{result.buyType4}}&nbsp;</td></tr>
            </tbody>
        </table>
    </div>
 