/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}


.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all linear 0.5s;
}

.check-element {
    border: 1px solid black;
    opacity: 1;
    padding: 10px;
}

.cui .step__icon--success{background:#6cc04a;color:#fff;-webkit-box-shadow:inset 0 0 0 1px #6cc04a;box-shadow:inset 0 0 0 1px #6cc04a}
.cui .step__icon--warning{background:#ff7300;color:#fff;-webkit-box-shadow:inset 0 0 0 1px #ff7300;box-shadow:inset 0 0 0 1px #ff7300}
.cui .step__icon--danger{background:#cf2030;color:#fff;-webkit-box-shadow:inset 0 0 0 1px #cf2030;box-shadow:inset 0 0 0 1px #cf2030}

.icon-success {
    color: #5CB85C;
}

.icon-danger {
    color: #cf2030;
}

label {width: 200px;}
